* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 242, 237);
}

div.container {
    padding: 10px 30px;
    /* width: ; */
    /* margin 0px; */
}

.navbar {
    display: flex;
    padding: 30px 0px;
    display: flex;
}

.navbar .logo {
    color: black;
    font-size: 20px;
    padding: 20px 10px;
    /* margin: 0px 0px 0px 100px; */
}
.nav-list ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0px 0px;

}
li.com-float {
    float: right;
}
.nav-list li {
    float: left;
}
.nav-list li a {
    float: right;
    display: flex;
    color: black;
    text-decoration: none;
    padding: 0px 30px;
}

.nav-buttons {
    margin: 0px 0px;
    float: right;
    border: none;
    text-decoration: none;
    padding: 0px 0px;
    justify-content: space-between;
}

.nav-buttons button {
    padding: 10px 15px;
    border: none;
    background: none;
}

.nav-buttons .special-btn {
    background-color: rgb(83, 31, 225);
    color: white;
    border-radius: 3px;
}

.menu-icon {
    display: none;
}

main {
    display: flex;
    /* justify-content: space-between; */
}
.intro-img {
    /* display: flex; */
    margin-top: 20px;
    top: 1;
    bottom: 5;
    width: 20px;
    /* height: ; */
}
.intro-img img {
    flex-direction: row;
    margin-top: -100px;
    top: 0;
    margin-left: 700px;
    width: 500px;
    height: 500px;
    /* top: 20; */
}

.first-page {
    display: flex;
    justify-content:space-between;
    padding-top: 0px;
    margin-top: 60px;
}

.text-area {
    margin-top: 30px;
    margin: 0px;
}

.intro-text h2 {
    font-size: 40px;
}

.svg-icons {
    display: flex;
    padding: 0px 15px;
}


.svg-icons svg {
    padding: 1px;
    height: 20px;
}

.svg-icons p {
    padding: 0px 10px;
}

.intro-text p {
    color: grey;
}

.intro-buttons {
    margin: 10px;
}

.intro-buttons button {
    padding: 15px 25px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    background: none;
    color: rgb(83, 31, 225);
    text-decoration: underline;
}

.intro-buttons .no-border {
    background-color: rgb(83, 31, 225);
    color: white;
    text-decoration: none;
}

.pay-verifier {
    display: flex;
    /* justify-content: space-between */

}

.pay-verifier p {
    padding: 10px;
}

.contain-two {
    background-color: white;
    padding: 90px 150px;
}

.heading h4 {
    color: rgb(83, 31, 225);
}

.heading h4 {
    font-weight: 800;
}

.heading-icon {
    display: flex;
    margin: 48px 18px;
    justify-content: space-between;
}

.heading-icon svg {
    margin: 13px 0px;
}

.heading-icon h6 {
    font-weight: 400;
}

.heading-icon p {
    color: rgb(72, 70, 70);
}

.realtor-pg {
    /* position: relative; */
    display: flex;
    background-color: rgb(77,19,209);
    border-radius: 10px;
    /* padding: 60px 40px; */
    color: white;
    justify-content: space-between;
}

.word-content {
    margin-top: 150px;
    margin-left: 40px;
}

.word-content h1 {
    font-size: 30px;
    font-weight: 800;
}

.word-content p {
    color: white;
    font-size: 15px;
    opacity: 80%;
}

.word-content button {
    background-color: white;
    width: 160px;
    height: 50px;
    /* padding: 18px px; */
    color: rgb(77,19,209);
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.img-content img {
    width: 700px;
    height: auto;
    bottom: 0px;
    margin-top: 50px;
    margin-right: 60px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 60px 5px;
}

.card-1 {
    justify-items: baseline;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 5px;
    width: 400px;
    padding: 25px 25px;
}

.head-info {
    display: flex;
    justify-content: first baseline;
    padding: 15px 0px;
}

.bio-info {
    margin-left: 18px;

}

.bio-info p {
    margin: 0;
    /* margin-top: 0px; */
    padding-top: 0px;
}

.bio-title {
    color: rgb(77,19,209);
    font-weight: 800;
}

.card-1 button {
    width: 300px;
    height: 50px;
    background-color: white;
    color: rgb(77,19,209);
    font-weight: 800;
    border-color: rgb(230, 225, 225);
}

footer {
    background-color: rgb(246, 242, 237);
    display: flex;
    justify-content: space-between;
    padding: 45px 100px;
}

@media screen and (max-width: 600px){
    body {
        width: 100%;
        margin: 0px;
    }
    div.navbar {
        display: flex;
        padding: 0px 0px;
        margin: 0px 0px;
    }
    .nav-list li {
        display: none;
        float: left;
        margin-inline-start: 0px;
        padding: 0px;
        margin: 0px;
    }
    li a {
        padding: 0px; 
    }
    .nav-list .com-float {
        float: left;
        /* display: b; */
        left: 0;
    }
    .nav-buttons button {
        display: none;
        align-items: left;
    }
    .menu-icon {
        display: block;
        float: right;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .svg-icons {
        display: none;
    }

    main {
        display: block;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .intro-img img {
        margin-top: 0px;
        margin-left: 0px;
        width: 300px;
        height: 300px;
    }

    .contain-two {
        display: block;
        padding: 15px 30px;
        margin: 0px 0px;
    }

    .heading-icon {
        display: block;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .intro-text h2 {
        font-size: 30px;
    }

    .intro-text p {
        color: grey;
        font-size: 15px;
    }

    .pay-verifier {
        display: block;
        padding: 0px 0px;
        margin: 0px 0px;
    }

    .realtor-pg {
        display: block;
        padding: 25px 20px 0px 30px;
        margin: 0px 0px;
    }

    .img-content {
        padding: 20px 15px 0px 0px;
    }

    .img-content img {
        width: 270px;
        height: 350px;
        bottom: 0px;
        margin-top: 30px;
        margin-right: 0px;
        /* padding: 5px 15px; */
    }

    .word-content {
        margin-top: 0px;
        margin-left: 0px;
        /* padding: 20px 15px; */
    }

    .word-content h1 {
        font-size: 30px;
        font-weight: 800;
    }
    .word-content p {
        color: white;
        font-size: 20px;
        opacity: 80%;
    }
    
    .cards {
        display: block;
        justify-content: space-between;
        margin: 0px 0px;
        padding: 10px 30px;
    }

    .card-1 {
        justify-items: baseline;
        /* border: 1px solid black; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 10px 5px;
        width: 300px;
        padding: 15px 15px;
    }

    .card-1 button {
        width: 200px;
        height: 40px;
        background-color: white;
        margin-left: 15px;
        color: rgb(77,19,209);
        font-weight: 800;
        border-color: rgb(230, 225, 225);
    }

    footer  {
        display: block;
        justify-content: space-between;
        padding: 20px 15px;
    }
}

